option_settings:
  aws:elb:listener:443:
    InstancePort: 443
    InstanceProtocol: HTTPS
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: HTTPS:443/
  aws:elasticbeanstalk:container:python:
    WSGIPath: application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
container_commands:
  01_mk_static_folder:
    command: "mkdir static && chown webapp:webapp static"
  02_collect_static:
    command: "$PYTHONPATH/python manage.py collectstatic --noinput"
  03_migrate:
    command: "$PYTHONPATH/python manage.py migrate"
  04_chown_db:
    command: "chown webapp:webapp db.sqlite3"
  05_mk_staging_dir:
    command: "mkdir -p /tmp/concierge_staging && chown webapp:webapp /tmp/concierge_staging"
