option_settings:
  aws:elb:listener:443:
    InstancePort: 443
    InstanceProtocol: HTTPS
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: HTTPS:443/
  aws:elasticbeanstalk:container:python:
    WSGIPath: application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
container_commands:
  01_migrate:
    command: "$PYTHONPATH/python manage.py migrate"
  02_collect_static:
    command: "$PYTHONPATH/python manage.py collectstatic --noinput"
